@model IEnumerable<DTO.Models.FerryDTO>

@{
    ViewBag.Title = "Ferries";
}

<h2>Ferries</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.MaxCars)</th>
        <th>@Html.DisplayNameFor(model => model.MaxGuests)</th>
        <th>@Html.DisplayNameFor(model => model.GuestPrice)</th>
        <th>@Html.DisplayNameFor(model => model.CarPrice)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.MaxCars)</td>
            <td>@Html.DisplayFor(modelItem => item.MaxGuests)</td>
            <td>@Html.DisplayFor(modelItem => item.GuestPrice)</td>
            <td>@Html.DisplayFor(modelItem => item.CarPrice)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FerryID }) |
                @Html.ActionLink("Details", "Details", new { id = item.FerryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FerryID })
            </td>
        </tr>
    }
</table>